html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}
html,
head{
  content: device-width;
}
html,
body{
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  background-color: #fff; /* Specify your desired background color */
  color: #000; /* Specify your desired text color */
}
a {
  text-decoration: none;
  transition: color 0.3s ease;
}



.Container{
  display: grid;
  grid-template-columns: 0 100% 0; 
  grid-template-rows: 2rem max-content fit-content  ;
  /* row-gap: 2rem;
  column-gap: 1rem; */
}

@media  (max-width:800px){
  .Container{
    grid-template-columns: 100%;
    grid-template-rows: 3rem 0.01rem max-content max-content;
  }
}



.flexconstent{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #000;
  margin-left: 1rem;
  margin-top: 1rem; 
}


.mainbody{
  grid-column: 2/span 2;
  grid-row: 2/span 1;
  background-color: #000; 
  justify-items: center;
  align-items: center;
}


.Footer{
  grid-column: 1/span 3;
  grid-row: 3/span 1;
  background-color: #000;
  bottom: 0;
}


@media   (max-width:800px){
  .mainbody{
    grid-column: 1/span 1;
    grid-row: 2/span 2;
  }
  .Footer{
    grid-column: 1/span 1;
    grid-row: 4/span 1;
  }
  
  
}
.flexfooter{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: flex-start;
}

.flexContainer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
}



@media(max-width:800px){
  .flexContainer{
    flex-direction: row;
  }
  .Navbar{
    grid-row: 1/span 1;
    height: fit-content;
    width: 100%;
  }
}
.flexContent{
  margin: 1rem;

}

#twitter:hover{
    border-radius: 50%;
    box-shadow: 0 0 1rem 1rem #1DA1F2;
}

#twitter{
  border-radius: 50%;
  transition: 0.4s;
}

#facebook:hover{
  border-radius: 50%;
  box-shadow: 0 0 1rem 1rem  #4267B2;
}

#facebook{
border-radius: 50%;
transition: 0.4s;
}

#instagram:hover{
  border-radius: 50%;
  box-shadow: 0 0 1rem 1rem #C13584;
}

#instagram{
border-radius: 50%;
transition: 0.4s;
}

#linkedin:hover{
  border-radius: 50%;
  box-shadow: 0 0 1rem 1rem #0077b5;
}

#linkedin{
border-radius: 50%;
transition: 0.4s;
}

.exthe{
  text-decoration: none;
  grid-column: 1/span 1;
}

.in{
  color: #ff8200;
}
.di{
  color: #ffffff;
}
.bus{
  color: #00cb51;
}

/* components/Navbar.js */

/* Initially, hide the navbar */
/* .navbar {
  display: none;
} */

/* Style the toggle button */
.toggle-button {
  color: white;
  border: none;
}

/* Style the navbar links */
.navbar.active {
  display: block;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  background-color: #000;
}

.navbar li {
  margin: 1rem;
}

.navbar a {
  text-decoration: none;
  color: #ffffff;
}
.navbar:not(.active) ul {
  display: none;
}

.toggle-button{
  background-color: #000;
  height: 2rem;
  width: 2rem;
  margin: 0.5rem;
  align-self: flex-end;
  justify-self: flex-end; 
}

.nav{
  width: 100%;
  z-index: 4;
  background-color: #000;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  grid-column: 2/span 1;
  grid-row: 1/span 1;
}
.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
  align-content:space-between;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.li{
  float: left;
} 
.link{
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-self: center;
  justify-self: center;
  margin: 0.5rem;
  color: #ffffff;
}