.fullscreen {
  background-color: #0E656A;
  margin-top: 5rem;
}

.fullscreen .normalHeading {
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 4rem;
  font-weight: 400;
}

.fullscreen hr {
  width: 18%;
  margin: auto;
}

.fullscreencontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
}

.fullscreencontainer img {
  object-fit: cover;
  border-radius: 2rem;
}

.fullscreencontent {
  width: 44%;
  margin-right: 5rem;
  
}

.fullscreencontent h1 {
  color: #fff;
  font-size: 3rem;
  font-weight: 400;
}

.fullscreencontent p {
  color: #fff;
  font-size: 1.3rem;
  font-weight: 400;
  margin-top: 1.3rem;
}

.fullscreencontent2 {
  width: 44%;
  margin-left: 5rem;
}

.fullscreencontent2 h1 {
  color: #fff;
  font-size: 3rem;
  font-weight: 400;
}

.fullscreencontent2 p {
  color: #fff;
  font-size: 1.3rem;
  font-weight: 400;
  margin-top: 1.3rem;
}

.fullscreencontainer3 {
  background-color: #0b4245;
  width: 95%;
  margin: auto;
  border-radius: 1rem;
  margin-top: 2rem;
}

.fullscreencontent3 {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
}

.fullscreencontent31 img {
  margin-top: 2.2rem;
  padding-bottom: .4rem;
}

.fullscreencontent32 img {
  margin-top: 1rem;
}

.fullscreencontent32 hr {
  width: 100%;
  color: #fff;
  margin-top: .4rem;
}

.upper {
  height: fit-content;
  width: 100%;
  background: linear-gradient(to top, black, rgb(88, 55, 55), white);
  margin-top: 1rem;
  padding: 1rem;
  padding-top: 3rem;
}
@media only screen and (max-width:800px){
  .upper{
    padding: 0rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.flexContainerimage{
  margin: 4rem;
  margin-top: 2rem;
  display: flex;
  /*  background-color: #000; */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

@media only screen and (max-width:800px) {
  .flexContainerimage {
    left: 0;
    width: 100%;
  }
}

@media(max-width:800px) {
  .flexContainerimage {
    flex-direction: column;
  }
}

@media(max-width:800px) {
  .flexContainerimage {
    flex-direction: column;
  }
}

.flexContentimage {
  display: flex;
  margin: 1rem;
  align-content: center;
  justify-content: space-evenly;
  color: #000;
  align-items: center;
}

@media only screen and (max-width:800px){
  .fleximageContainer{
  justify-content: center;
  margin: 1rem;
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-rows: max-content;
  grid-gap:1rem;
  display: flex;
  justify-content: center;
  gap:12rem;
  margin: 2rem;
  }

}

.fleximageContainer img {
  border-radius: 1rem;
}

.fleximageContainer{
  justify-content: space-between;
  margin-inline: 4rem;
  margin: 4rem;
  display: inline-flex;
  grid-template-columns: max-content max-content;
  grid-template-rows: max-content;
  grid-gap:10rem;
  padding-left: 4rem;
  align-items: center;
}

.circlebutton {
  height: '50';
  border-radius: 20%;
  background-color: white;
  padding: 2rem;
}

.revcontainer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.revcontentbox{
  grid-column: 1;
  height: fit-content;
  padding: 2rem;
  background-color: white;
}

.revheader {
  background-color: red;
  color: #fff;
}

.revcontent {
  background-color: #fff;
  color: #fff;
}