/* .main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  width: var(--max-width);
  max-width: 100%;
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: '';
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.logo {
  position: relative;
}
/* Enable hover only on non-touch devices */
/*@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
/*@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
}

/* Tablet and Smaller Desktop */
/*@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
} */

.flexContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    height: fit-content;
    width: fit-content;  
    justify-content: center;
    align-items: center;
    margin: auto;
     
}

@media (max-width: 800px){
  .flexContainer{
    flex-direction: column;
  }
}

@media (max-width: 800px){
  .flexContainer{
    flex-direction: column;
  }
}


.flexContent{
  background-image: linear-gradient(to bottom right, #9336B4, #98EECC); ; 
  display: flex;
  width: 13rem;
  height: 20rem;
  color: black;
  font-size: 2rem;
  margin: 2rem;
  border-radius: 1rem;
  text-align: center;
  justify-content: center;
  align-content: center;
  transition: transform 0.8s;
}


.flexContent:hover{
  box-shadow: 0.09rem 0.09rem 0.5rem 0.5rem #64CCC5; 
}

.flexContent{
  transition: 0.8s;
}

.para{
  text-align: center;
  margin-top: 50%;
  margin-bottom: 50%;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-style: italic;
  color: #000;
}

.Typewriter{
  color: #9336B4;
  margin: 4rem;
}


.carousel h3, .carousel p {
  color: #000;
}

.flexContainerimage{
  display: flex;
  background-color: #000;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
@media only screen and (max-width:800px){
    .flexContainerimage{
        left: 0;
        width: 100%;
    }
}

.flexContentimage{
    display: flex;
    margin: 1rem;
    align-content: center;
    justify-content: center;
    color: #000;
    align-items: center;
}

@media only screen and (max-width:800px){
    .flexContentimage{
        width: auto;
    }
}

.flexContainerbusiness{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.flexContentbusiness{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  margin: 10rem;
}
.link{
  text-decoration: none;
  color: white;
}

@media(max-width:800px){
  .flexContainerimage{
    flex-direction: column;
  }
}
@media(max-width:800px){
  .flexContainerimage{
    flex-direction: column;
  }
}

.gridContainer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}



.indiadsImage{
    display: flex; 
    background-color: gray;
    margin: 1rem;
    align-content: center;
    justify-content: center;
    height: max-content;
    width: 28rem;
    color: #000;
    border-radius: 10%;
    align-items: center;
}

.indiadsContent h2{
  text-align: center;
}

.indiadsContent{
  display:flex;
  flex-direction: row ;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 26rem;
  margin-top: 4rem;

}
.indiadsContent p{
  text-align: center;
  font-size: 1.1rem;
}


.indiadsServicesContent h2{
  text-align: center;
}

.indiadsServicesContent{
  display:flex;
  flex-direction: row ;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 26rem;
}
.indiadsServicesContent p{
  text-align: center;
  font-size: 1.1rem;
}

.signup{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 4rem;
}
.signupForm{
  margin-top: 50px;
  text-align: center;
}
.signupPageInput{
  display: block;
  width:350px;
  height: 40px;
  margin: 20px;
  border: none;
  outline: none;
  font-size: 1rem;
  border-bottom:1px solid black;
  background: transparent;
  

}
.signupButton{
  width:350px;
  height:40px;
  font-size: 20px;
  background-color: rgb(104, 59, 104);
  border: none;
  color:white;
  margin-top:20px;
}

.signupHead{
  margin-bottom: 30px;
}

.signupPageError{
  display: block;
  width:350px;
  height: 40px;
  margin: 20px;
  border: none;
  outline: none;
  font-size: 1rem;
  background: transparent;
  color : red;
}


.contactBox{
  width: 50vh;
  height: 60vh;

}
.contact{
  margin-top: 5rem;

}
.contactInput{
  width: 40vh;
  height: 4vh;
  margin-top:1.3rem ;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 1px solid #777;
  border-radius: 1.4rem;
  outline: none;
}
.contactText{
  height:15vh;
  padding-top: 1rem;
  width: 40vh;
  border-radius: 1.2rem;
  margin-top: 1.5rem;
}
.contactBtn{
  border-radius: 2.0rem ;
  color:white;
  margin-top: 1.2rem;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  background-color: rgb(104, 59, 104);
}

.errorPage{
  position: absolute;
  top:10%;
  left:25%;
  right:17%;
  bottom:20%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  
}
.errorContent{
  max-width: 60vw;
  text-align: center;
}
.errorContent h1{
  font-size: 18rem;
  line-height: 1em;
  
}
.errorContent h4{
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #000;
  max-width: 60vw;
  font-size: 2rem;
  
}
.errorContent p{
  font-size: 1.2rem;
  color: #0d0d0d;
}
.errorContent .btns{
  margin: 25px 0;
  display: inline-flex;
}
.errorContent .btns a{
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
  border: 2px solid  rgb(104, 59, 104);
  color: rgb(104, 59, 104);
  font-weight: 500;
  padding:10px 25px;
  border-radius: 25px;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.errorContent .btns a:hover{
  color:#fff;
  background: rgb(104, 59, 104);
}

.learn {
  margin-top: 4rem;
}

.upper{
  height: fit-content;
  width: 100%;
  background-color: #ff8200;
  margin-top: 1rem;
  padding: 1rem;
  padding-top: 3rem;
}
@media only screen and (max-width:800px){
  .upper{
    padding: 0rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
.whorwe{
  background-color: #ffffff;
  height: fit-content;
  padding: 1rem;
  margin: 1rem;
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  
}
.whorwehead{
  color: #00cb51;
  font-family: the seasons;
  font-size: 800;
}
.vmflexContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding:1rem;
  width: 100%;
}
.vmflexContent{
  display: flex;
  height: 18rem;
  width:22rem;
  background-color: #00cb51;
  margin: 0.3rem;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-family: tt commons pro;
}

.p1{
  color: #00cb51;
  align-self: flex-start;
  margin-top:1rem;
  left: 0;
}
.butta{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  width: 70%;
  justify-content: center;
}

.button{
  background-color: #00cb51;
  border: none;
  color: #ffffff;
  align-self: flex-end;
  margin-left:2rem;
  
}
@media only screen and (max-width:800px){
  
  .vmflexContent{
    height: 5rem;
    width: 8rem ;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    font-size: small;
  }
  .butta{
    width: 100%
  }
  .p1{
    font-size: 0.4rem;
  }
}

.normalHeading{
  font-family: the seasons ;
  color: #ffffff;
  margin-top: 1rem;
  margin-left: 0.5rem;
  font-size: 2em;
  font-weight: 20;
  text-decoration: none;
}
@media only screen and (max-width:800px){
  .fleximageContainer{
  justify-content: center;
  margin: 1rem;
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-rows: max-content;
  grid-gap:1rem;
}
}
.fleximageContainer{
  justify-content: center;
  margin: 1rem;
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-rows: max-content;
  grid-gap:1rem;
}
.heightimage{
  height: 20rem;
}

.generalbox{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  margin: 0.5rem;
  align-items: center;
}
.generalboxcontent{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10rem;
  width: 80%;
  background-color: #ff8200;
  margin: 2rem;
}

@media only screen and (max-width:800px){
  .generalboxcontent{
    width: 95%;
    height: 7rem;
    margin: 0.5rem;
  }
}

.testimonialsimage{
  border-radius: 50%;
}
.blackHeading{
  font-family: the seasons ;
  color: #000;
  margin-top: 1rem;
  margin-left: 0.5rem;
  font-size: 2em;
  font-weight: 20;
  text-decoration: none;
}
.testimonials{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}