.maintainance{
  background-image: url("../../public/maintenance.jpg");
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.head{
  color: beige;
  font-size: 6rem;
  backdrop-filter: blur(8px);
  border-radius: 12px;
  border: 1px solid #f1f1f1; 
  padding: 1rem;
}
